<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>
      Neither Sphere nor Cube - Analyzing the Particle Shape using Small-Angle Scattering and the Superball Model
    </mat-card-title>
    <mat-card-subtitle>
      Dominique Dresen,<sup>1</sup>
      Asmaa Qdemat,<sup>1</sup>
      Dominika Zákutná,<sup>1†</sup>
      Erik Wetterskog,<sup>2‡</sup>
      Emmanuel Kentzinger,<sup>3</sup>
      German Salazar-Alvarez,<sup>2</sup>
      and Sabrina Disch <sup>1,*</sup>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span>
        <sup>1</sup>
        Department für Chemie, Universität zu Köln, Greinstr. 4-6, 50939 Köln, Germany
      </span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span><sup>2</sup> Department of Materials Science and Engineering, Ångström Laboratory, Uppsala University, Box 35, 751 03 Uppsala, Sweden</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span><sup>3</sup> Jülich Centre for Neutron Science JCNS, Peter Grünberg Institut PGI, JARA-FIT, Forschungszentrum Jülich GmbH, D-52425 Jülich, Germany</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span><sup>†</sup> Current address: Charles University, Prague, Czech Republic</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span><sup>‡</sup> Current address: Vetenskapens Hus, Roslagstullsbacken 29, 114 21 Stockholm, Sweden</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span><sup>*</sup>corresponding author: sabrina.disch@uni-koeln.de</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class='container-image'>
      <img src='../assets/placeholder.png'>
    </div>
    <div class='container-abstract'>
      <h2>Abstract</h2>
      Accurate  characterization  of  the  nanocrystal  shape  with  high  statistical  relevance  is  essential for exploiting the
      strongly shape-dependent properties of cuboidal nanoparticles towards applications.  This work presents the development of a
      new small-angle scattering form factor based on the superball geometry.  The superball quantifies the characteristic rounding of
      corners and edges of cuboidal nanoparticles with a single parameter.  Applied to small-angle scattering data of sufficiently
      monodisperse nanoparticles, the superball form factor enables differentiation between the effects of extended particle size
      distribution and irregular particle shape.  The quantitative application of the superball form factor is validated against
      microscopy data for a series of monodisperse nanoparticles and implemented into the user-friendly, open source software Sasview.
    </div>
    <div>
      <a href='https://chemrxiv.org/articles/preprint/Neither_Sphere_nor_Cube_-_Analyzing_the_Particle_Shape_Using_Small-Angle_Scattering_and_the_Superball_Model/14632572/1' target='_blank' rel="noopener">
        <b>Article is open access on ChemRxiv</b>
      </a>
    </div>
    <div>
      <h2>Online-Demo</h2>
      <app-logxlogy-graph #xygraph
      [x]="fittingService.x"
      [y]="fittingService.y"
      [yData]="fittingService.yData"
      [syData]="fittingService.syData"
      xlabel='q / A-1'
      ylabel="I / cm-1">
      </app-logxlogy-graph>
      <mat-progress-bar
        *ngIf="fittingService.isCalculating"
        mode="indeterminate"
        color="primary"
        style="z-index: 5000;"
      >
      </mat-progress-bar>
      <div class='container-parameters' *ngIf="fittingService.selectedModel
      && fittingService.selectedModel.infoText">
        <b>Superball Parameters</b>
        <form class='form-parameters' [formGroup]="fittingService.parameterForm"
        floatLabel="always" appearance="none">
          <mat-grid-list [cols]="numGridCols" rowHeight="100px">
            <mat-grid-tile *ngFor="let param of fittingService.selectedModel.parameters">
              <mat-form-field class='form-parameters-field'>
                <mat-label>{{param.unitName != '' ? (param.name + ' / ' + param.unitName) : param.name}}</mat-label>
                <mat-slider
                class='parameter-slider'
                [formControlName]="param.name"
                min="{{param.min}}"
                max="{{param.max}}"
                step="{{param.stepSize}}"
                thumbLabel="{{param.value}}"
                color="primary">

                </mat-slider>
                <textarea matInput hidden></textarea>
                <span>
                  {{ param.value }}
                </span>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </div>
    </div>
    <div>
      <h2>Implementation</h2>
      <div>
        The Superball is available in the software package SasView as formfactor.
        <a href='https://www.sasview.org/' target='_blank' rel="noopener"><b>Get SasView at https://www.sasview.org.</b></a>
      </div>
    </div>
    <div>
      <h2>Sources</h2>
      <div>
        <sup>a</sup>This webpage was created using
        <a href='https://angular.io/' target='_blank' rel="noopener">
        Angular 12.0</a>,
        using
        <a href='https://d3js.org/' target='_blank' rel="noopener">
          d3.js</a> for plotting.
      </div>

      <div>
        <sup>b</sup>The online demo is implemented as Rust module, which was compiled to WASM to enable fast client-sided calculations in the browser.

      </div>

      <div>
        <a href='https://github.com/DomiDre/superballpaper' target='_blank' rel="noopener">
          <sup>a</sup> <img class='social-media-button clickable' src='assets/brand_resources/github.svg'/>
        </a>
        <a href='https://github.com/DomiDre/superball' target='_blank' rel="noopener">
          <sup>b</sup> <img class='social-media-button clickable' src='assets/brand_resources/github.svg'/>
        </a>
        <a href='https://twitter.com/DomiDre' target='_blank' rel="noopener">
          <img class='social-media-button clickable' src='assets/brand_resources/Twitter_Logo_Blue.svg'/>
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
