.main-card
    width: fit-content
    margin: auto
    max-width: 80%

mat-card
    width: fit-content
    justify-content: center

mat-card-header
    width: fit-content
    justify-content: center

mat-card-content
    justify-content: center
    margin: auto

.container-image
    width: 100%
    display: flex
    justify-content: center

container-abstract
    inline-size: min-content

img
    max-width: 100%
    height: auto